<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lizt Mobile Regression Suite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="com.lizt.automation.utils.TestListener"/>
    </listeners>
    <test name="Lizt Android Tests">
        <classes>
            <class name="com.lizt.automation.tests.LiztMobileTests"/>
        </classes>
    </test>
</suite>
