<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Calculator Mobile Automation Suite" parallel="false">
    <test name="Calculator Tests">
        <classes>
            <class name="tests.CalculatorTests"/>
        </classes>
    </test>
</suite>
